@media (max-width: 767px) {                  
    .content-to-hide {
       display: none;
    }
   
    .dissapear{
        display: none;
    }

 }
 body{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
 }
 
 .containerright
{
    width: 100%; 
    font-size: 20px;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.containerrightservices
{
  
width: 90%; 
font-size: 80%;
display: block;
  margin-left: auto;
  margin-right: auto; 
}
.containerleftservices
{
  
width: 90%; 
font-size: 80%;
padding-top: 2%;
display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-left: 10%;
}
.shop
{
    
    width: 70%;
    
    padding-top: 2%;
    display: block;
  margin-left: auto;
  margin-right: auto;

} 
.servicesimg
{
    
     width: 70%;
    padding-top: 1%;
    padding-left: 7% 


} 
.services
{
    
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: normal;
text-align: center;
color: #FFFFFF;
padding-top: 3%; 


} 

.servicestitle
{
    padding-left: 10%;
    padding-top: 5%;
    color: red;
}
.servicestitleright
{
    padding-left: 10%;
    padding-top: 5%;
    color: red;
    
}
.red{
    color: red;
    padding-left: 15%;
    
}
.para
{
padding-left: 15%;
font-size: 100%;
}
.para1
{
padding-left: 5%;
font-size: 100%;
}
.lefty
{
    padding-right:10%
}
.centre{
    display: flex;
}
@media (min-width: 500px)
{
    .headertext{

        
        font-size: 0px;
    }
    .headertext1{
        font-size: 0px;

        
    }
}
@media (max-width: 500px)
{
     .headertext{
    padding-left: 2%;
    padding-top: 20%;
    
    font-size: 12px;
}
.containerrightservices {
    font-size: 12px;    
}
.containerleftservices {
    font-size: 12px;    
}
.headertext1{
    font-size: 20px;
    padding-right: 2%;
    padding-top: 15%;
    
}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) { 
    .shop{
        float: left;
        width: 70%;
        
        padding-top: 2%;
        padding-left: 2%;
        padding-bottom: 2%;
    }
    .centre{
        display: flex;
    }
    .containerright{
        
        width: 50%; 
        font-size: 25px;
        padding-top: 5%;
        padding-right: 10%;
      
    }
    
    .headertext{
        padding-left: 10%;
        padding-top: 10%;
        
        font-size: 40px;
    }
    .headertext1{
        padding-right: 5%;
        padding-top: 10%;
        font-size: 40px;
    }
    .imgshrink{
        width: 65%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.button
{
    
    margin-left: auto;
    margin-right: auto;
    color: red;
  
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body {background-color: black;
    font-size: 40px;
    
    color: white;}
.imgpadding{
    padding-top: 2%;
    padding-bottom: 2%;
}

.welcometo{

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: normal;
text-align: center;
color: #FFFFFF;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  input[type=submit]:hover {
    background-color: darkred;
  }
  
  .container1{
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }